/***********************************************/
/* 2col_leftNav.css                            */
/* Use with template 2col_leftNav.html          */
/***********************************************/

/***********************************************/
/* HTML tag styles                             */
/***********************************************/

body {
    overflow: auto;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;

    color: #000000;
    font-size: 10px;
    scrollbar-base-color: #999999;
    scrollbar-track-color: color;
    scrollbar-face-color: #AABDCA;
    scrollbar-highlight-color: #858585;
    scrollbar-3dlight-color: #999999;
    scrollbar-darkshadow-color: #858585;
    scrollbar-shadow-color: #000000;
    scrollbar-arrow-color: #000000;

}

.welcome {
    font-size: 12pt;
    font-family: geneva, arial;
    color: #ffffff
}

.small {
    font-size: 8pt;
    font-family: geneva, arial;
}

td {
    font-family: geneva, arial;
    font-size: 10pt
}

.bold {
    font-weight: bold;
    font-family: geneva, arial;
    font-size: 10pt
}

.large {
    font-size: 12pt;
}

.style2 {
    color: #FFFFFF;
    font-size: 9px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

a:link, a:visited, a:hover {
    text-decoration: none;
    color: #333333;
}

a:hover {
    color: #000000;
    font-weight: normal;
    text-decoration: underline;
}

TD {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
}

/* overrides decoration from previous rule for hovered links */

/************** #headlines styles **************/

.style1 {
    font-family: verdana, Arial, Helvetica, sans-serif;
    text-indent: 2px;
    color: #333333;
    font-size: 11px;
}

input {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    color: #333333;
    background-color: #FFFFFF;
    background-repeat: repeat-x;
    border: inherit #7A98AD;
}

.style2 {
    color: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-indent: 2px;
    font-size: 10px;
}

.style3 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-indent: 2px;
    font-size: 10px;
    font-weight: bold;
    color: #333333;
}

.style4 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-indent: 2px;
    font-size: 11px;
    font-weight: bold;
    font-style: italic;
    color: #333333;
}

form {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    display: inline;
}

.table_bk {
    font-family: Tahoma, Helvetica, Verdana, Arial;
    font-size: 11px;
    background: #B1C4CF;
    font-weight: bold;
}

.table_bk th {
    text-transform: capitalize;
    text-decoration: underline;
    cursor: pointer;
}

.table_bk td {
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #B1C4CF;
}

#gridborder {
    border-left: 1px solid;
    border-color: #B1C4CF;
}

.notes {
    margin: 5px 2px;
    padding-top: 10px;
    padding-left: 8px;
    padding-bottom: 10px;
    width: 90%;
    background-color: #ffffff;
    border: 1px solid grey;
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}

.messages {
    margin: 5px 2px;
    position: relative;
    top: 20px;
    left: 10px;
    width: 27%;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    border: 0px
}

.td_whbk {
    text-indent: 2px;
    font-family: Tahoma, Helvetica, Verdana, Arial;
    font-size: 8.3pt;
    background: #FFFFFF;
}

.td_whbk1 {
    text-indent: 2px;
    font-family: Tahoma, Helvetica, Verdana, Arial;
    font-size: 8.3pt;
}

.td_whbk2 {
    font-family: Tahoma, Helvetica, Verdana, Arial;
    font-size: 8.3pt;
    background: #CCCCCC;
}

.td_whbk3 {
    font-family: Tahoma, Helvetica, Verdana, Arial;
    font-size: 8.3pt;
    background: #CCFFFF;
}

.no_back {
    background: #F0F0F0;
    font-family: verdana, Arial, Helvetica, sans-serif;
    text-indent: 2px;
    color: #333333;
    font-size: 11px;
}

SELECT {
    BORDER-RIGHT: #000000 1px solid;
    BORDER-LEFT: #000000 1px solid;
    BORDER-TOP: #000000 1px solid;
    BORDER-BOTTOM: #000000 1px solid;
    MARGIN-TOP: 2px;
    MARGIN-RIGHT: 2px;
    MARGIN-BOTTOM: 2px;
    MARGIN-LEFT: 2px;
    BACKGROUND-COLOR: #FFFFFF;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica;
    FONT-SIZE: 10px
}

/* para dyntar */
.dyntar-active {
    visibility: hidden;
}

.dyntar-wrapper {
    border: 1px dashed #808080;
}

.dyntar-resizer {
    height: 11px;
    font-size: 11px;
    line-height: 11px;
    background: #E0E0E0 url(../images/common/dyntar.gif) no-repeat 100% 100%;
    border: 1px solid #B0B0B0;
    /* cursor: n-resize; */
}

#curso_content {
    border-right: #000000 solid 1px;
    border-left: #000000 solid 1px;
    border-bottom: #000000 solid 1px;
    margin-top: 30px;
}

#curso_wrapper {
    padding: 0px 14px 0px 14px;
    font-size: 11px;

}

.topbar {
    background-image: url('../images/backend/edunet_r1_c1.gif');
    background-position: right top;
    background-repeat: no-repeat;
    background-color: #ffffff;
    padding-right: 40px;
}

.sidebar {
    background-color: #E0E0E0;
    width: 16%;
    text-align: right;
    padding-top: 14px;
    vertical-align: top;
    padding-right: 15px;

}

.sidebar .sub-menu{
    padding-top: 13px;
    align-items:center;
}

.sidebar .sub-menu span{
    cursor: pointer;
    padding-right: 3px;
}

.sidebar .sub-menu img{
    width: 20px;
    display: inline;
    cursor: pointer;
    vertical-align:middle
}


.avatar {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

/*login form*/
#form-container {
    padding-left: 5px;
    line-height: 0px;
    width: 95%;
}

#form-field {
    padding: 0.3ex;
    position: relative;
    text-align: center;
}

#form-field button{
    min-width: 80%;
}

#form-field input{
    width: 150px;
    padding: 0.2em;
}

#form-label {
    font-weight: bold;
    width: 58px;
    float: left;
    margin-top: 2px;
}

.welcome-admin{
    line-height: 1px;
    margin: auto;
}

/* grid styles */
.wrapper-table td{
    font-weight: normal;
}


